*{
    font-family: 'Merriweather', serif,'Inter', sans-serif;;
}
.hero_section{
width: 1320px;
height: 600px;
border-radius: 16px;
background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Banner\ Image.png);
background-repeat: no-repeat;
margin: 30px 100px;
border-radius: 16px;
background-size: cover;
font-family: Merriweather;

}

.header_section{
text-align: center;
padding-top: 140px;
}

.First_title{
color: #FFF;
text-align: center;
font-size: 32px; 
font-weight: 400;
padding-bottom: 0px;
font-family: Merriweather;
margin-bottom: -26px;


}
.second_title{
padding-top: 0;    
color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
line-height: 95px; 
}

.discount_container{
text-align: center;
margin-top: 120px;
}
.first_discount{
font-family: Inter;
color: #F00;
font-size: 88px;
font-weight: 700;
}

.discount_title{
font-family: Inter;
color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;

}

.discount_catagory {
color: #070211;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.Happy_new_year{
width: 802.9px;
height: 500px;
margin-left: 25%;
}

.welcome_section{
background:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('../resources/Vectorrr.png');
width: 1320px;
height: 600px;
margin: 120px auto; 
}
.new_year_png{
    float: right;
    margin-top: 90px;
    margin-right: 100px;
}

.Welcome_title{
padding: 90px 552px 298px 126px;

}
.midnight_party{
color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
line-height: 88px; 
letter-spacing: 7.04px;

}

.party_disciption{
color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
margin-top: -45px;
    

}
.welcomr_btn {
color: #FFF;
text-align: left;
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin-top: 40px;
/* margin-left: 30px; */
}

.place_date_time {
width: 1320px;
height: 482px;
background:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
margin: 120px auto;
}
.container{
text-align: center;
padding: 100px 386px 214px 380px;

}

.adderess,
.location,
.time_managment {
color: #070211;
font-family: Inter;
font-size: 27px;;
font-weight: 600;
line-height: 50px;
text-transform: capitalize;

}

.location{
margin-top: -20px;
}

.time_managment{
    margin-top: -20px;

}
.orange_color,
.komola_kalar,
.jibon_sadakalo{
    color: #F00;
}
.local_btn{
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 700;
border-radius: 8px;
background: #F00;
padding: 16px 32px;
justify-content: center;
align-items: center;
border: 0;  
margin-top: 40px;
}

.info_container{
height: 335px;
display: flex;
background: #fff;
position: relative;
margin-top: 50px;
}
.profile_pic{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
 
}
.left_side{
    margin-left: 90px;
    
 
}
.right_side{
   position: absolute;
   right: 0%;
   top: 1%;
   transform: translate(-1%, 0%);
   margin-right: 90px;
}

.small_title{color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;;
font-weight: 500;
margin-bottom: -60px;
margin-left: -160px;
}

.main_title{
color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
}

.title_description{
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
}

.year{
color: #F00;
font-family: Inter;
font-size: 48px;;
font-weight: 700;;

}

.discription_box{
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;

}

.new_year {
width: 140px;
height: 140px;

}


.profile_pic{
width: 400px;
height: 400px;
background-color: white;
border: 15px solid #F00;;
border-radius: 50%;
position: relative;
}

.self_teach{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);

}

.main_div{
    padding-left: 10px;
}


.parent_div{
    margin: 140px auto;
}
.bussiness_zone{
text-align: center;
margin: 190px auto;
}
.short_title{
color: #070211;
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-bottom: -50px;
}

.main_title{
color: #070211;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
   
}
.ami_jani_na{
color: #F00;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
}

.title_discription{
 color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 32px;
margin-top: -50px;
}

.info_portfolio{
margin-left: 5%;



}

.shopping_zone{
display: block;
width: 424px;
height: 450px;
padding: 10px;
float: left;
}



.portfolio_title{
color: #F00;
font-family: Inter;
font-size: 20px;
font-weight: 500;
margin-bottom: -40px;
 }

 .portfolio_header{
color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
margin-bottom: -10px;
}


.portfolio_discription{
color: #6c6b6e;
font-family: Merriweather;
font-size: 17px;
font-weight: 900;
text-transform:capitalize;
}




.background_problem{
border-radius: 16px;
margin-top: 1000px;
border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
margin-left: 5%;
margin-right: 5%;
}

.form_container{
background: rgba(255, 0, 0, 0.05);
}

.mail_box{
    margin-left: 45%;
    padding-top: 20px;
    width: 150px;
    height: 150px;
    margin-bottom: -40px;

}

.captios,
.image_discription{
    text-align: center;
    
    
}
.captios{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: ;
    margin-bottom: -17px;
}
.image_discription{
color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
}

.new_btn{
margin-left: 29%;
background: ;
width: 340px;
height: 50px;
border: none;
outline: none;
padding: 0px 25px;
border-radius: 25px 0 0 25px;

}

.submit_btn{
    position: relative;
    left: -10;  
    border-radius: 0 25px 25px 0;
    width: 150px;
    height: 50px;
    background: #F00;
    border: 0;
    color: white;

}

.btn{
    margin: 35px 0;
    padding-bottom: 60px;
}

.footer_option{
height: 609px;
background-color: black;
margin-top: 110px;


}

.discription_inbox{
color: #FFF;
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-left: 150px;
padding-top: 160px;
color: #FFF;
font-weight: 500;
line-height: 40px;
   
}

.common_one,
.common_two{
text-align: right;
margin-top: -90px;
margin-right: 227px;
color: #FFF;
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 40px;

}

.common_two{
    margin-top: -25px;
    padding-left: 20px;
}


.top_line{
    margin-top: 60px;
}


.phone_icon{
padding-right: 15px;

   
}

.website_icon{
    padding-right: 10px;

}
.facebook{
   display: flex;
    margin-left: 35%;
    display: inline-block;
    
}

.Instagram{
    margin-left: 41%;
    margin-top: -68px;  
    
}
.Twitter{
    margin-left: 49%; 
    margin-top: -68px;
        
}

.Linkedin{
    margin-left: 55%; 
    margin-top: -68px;  
    
}

.bottom_line{
    
}

.footer_last_title,
.unsubscribe{
color: white;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}

.footer_last_title{
    margin-left: 140px;
    margin-top: 130px;
}

.unsubscribe{
text-align: right;
margin-right: 227px;
margin-top: -60px;

}